@use '@/shared/scss/breakpoint' as breakpoint;
.LearningContent {
	border-radius: 32px;
	padding: 32px;
	max-width: 904px;
	width: 100%;
	min-height: 300px;
	background: var(--neutral-white);
	@include breakpoint.mobile {
		padding: 0 0 32px 0;
	}
	&__title {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 24px;
		line-height: 150%;
		color: var(--neutral-darkest);

		@include breakpoint.small-tablet {
			display: none;
		}
	}

	&__image {
		position: relative;
		max-width: 640px;
		width: 100%;
		height: 286px;
		border-radius: 32px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__text {
		padding: 30px 0;
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 25px;
		&_list {
			ul {
				font-family: var(--font-family);
				font-weight: 400;
				font-size: 16px;
				line-height: 175%;
				color: var(--neutral-darkest);
			}
			b {
				font-family: var(--font-family);
				font-weight: 700;
				font-size: 16px;
				line-height: 175%;
				color: var(--neutral-darkest);
			}
		}
		&_definition {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 16px;
			line-height: 175%;
			color: var(--neutral-darkest);
			b {
				font-weight: 700;
			}
		}
		&_conclusion {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 16px;
			line-height: 175%;
			color: var(--neutral-darkest);
			b {
				font-weight: 700;
			}
			display: flex;
			flex-direction: column;
			align-items: start;
			gap: 10px;
		}
	}
	&__footer {
		padding-top: 40px;
		border-top: 1px solid var(--neutral-light);
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 12px;
		@include breakpoint.mobile {
			flex-wrap: wrap;
		}
	}
	&__btn {
		&_back {
			margin-right: auto;
			@include breakpoint.mobile {
				margin-right: 0;
				flex-basis: 40%;
				flex-grow: 1;
				flex-shrink: 1;
			}
		}
		&_skip {
			@include breakpoint.mobile {
				flex-basis: 40%;
				flex-grow: 1;
				flex-shrink: 1;
			}
		}
		&_next {
			@include breakpoint.mobile {
				width: 100%;
			}
		}
	}
	&__content {
		margin-top: 30px;
		&_inner {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__list {
		list-style: none;
	}
}
