@use '@/shared/scss/breakpoint' as breakpoint;
@use '@/shared/scss/mini' as mini;

.RateCard {
	position: relative;
	display: flex;
	flex-basis: 280px;
	flex-direction: column;
	border-radius: 32px;
	padding: 28px;
	height: 480px;

	&__header {
		display: flex;
		align-items: start;
		border-bottom: 1px solid var(--neutral-light);
		padding-bottom: 20px;
	}

	&__title {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 24px;
		line-height: 150%;
		text-align: center;
	}

	&__body {
		padding-top: 20px;
	}

	&__subscription_btn {
		width: 100%;
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: start;
		gap: 15px;
		&_item {
			display: flex;
			align-items: center;
			gap: 12px;

			svg {
				flex-shrink: 0;
				width: 24px;
				height: 24px;
				stroke: currentcolor;
			}

			span {
				font-family: var(--font-family);
				font-weight: 400;
				font-size: 16px;
				line-height: 175%;
			}
		}
	}

	&__discount {
		position: absolute;
		right: -5%;
		top: -8%;
		z-index: 11;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 76px;
		height: 76px;
		background-image: url('/discount.svg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		span {
			font-family: var(--font-family);
			font-weight: 600;
			font-size: 20px;
			line-height: 140%;
			text-align: center;
			color: var(--neutral-white);
		}
		@include breakpoint.mobile {
			right: -3%;
		}
	}

	&__footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: auto;
		text-align: center;
		gap: 24px;
		&_price {
			font-family: var(--font-family);
			font-weight: 700;
			font-size: 32px;
			text-align: center;
		}
		@include breakpoint.mobile {
			padding-top: 30px;
		}
	}
	&--primary {
		background-color: var(--primary-lightest);

		.RateCard__title {
			color: var(--neutral-darkest);
		}

		.RateCard__info_item {
			color: var(--neutral-darkest);
		}

		.RateCard__footer_price {
			color: var(--primary-medium);
		}
	}
	&--secondary {
		background-color: var(--primary-medium);

		.RateCard__title {
			color: var(--neutral-white);
		}

		.RateCard__info_item {
			color: var(--neutral-white);
		}

		.RateCard__footer_price {
			color: var(--neutral-white);
		}
	}

	&--tertiary {
		background: linear-gradient(225deg, #cb27a2 0%, #7e48c0 100%);

		.RateCard__title {
			color: var(--neutral-white);
		}

		.RateCard__info_item {
			color: var(--neutral-white);
		}

		.RateCard__footer_price {
			color: var(--neutral-white);
		}
	}
	@include breakpoint.small-tablet {
		flex-grow: 1;
	}
	@include breakpoint.pre-mobile {
		flex-basis: 60%;
		flex-grow: 0;
	}
	@include breakpoint.mobile {
		width: 100%;
		max-width: 328px;
		height: auto;
		min-height: 366px;
	}
}
