.ClassCardMain {
	border-radius: 32px;
	padding: 40px;
	// max-width: 1088px;
	width: 100%;
	background: var(--neutral-white);
	min-height: 356px;
	margin-top: 32px;
	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__fullList {
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 14px;
		line-height: 143%;
		color: var(--primary-medium);
	}
	&__title {
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 20px;
		line-height: 140%;
		color: var(--neutral-darkest);
	}
	&__content {
		padding-top: 30px;
	}
}
