@use './../../shared/scss/breakpoint'as breakpoint;

.index {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 32px;
    padding: 28px 32px;
    height: 100px;
    background-color: var(--neutral-lightest);

    @include breakpoint.tablet {
        padding: 21px 29px;
        height: 80px;
    }

   

}