@use './../../shared/scss/breakpoint' as breakpoint;

.ResultsCard {
	display: flex;
	flex-direction: column;
	align-items: start;
	border-radius: 32px;
	padding: 32px;
	height: 212px;
	background-color: var(--neutral-lightest);
	gap: 29px;

	&__title {
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 20px;
		line-height: 140%;
		text-align: center;
		color: var(--neutral-darkest);
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5px;
		@include breakpoint.extra-small-tablet {
			font-size: 17px;
		}
	}

	&__info {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__percent {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 28px;
		padding: 4px 12px 4px 8px;
		width: 97px;
		height: 36px;
		gap: 5px;

		span {
			font-family: var(--font-family);
			font-weight: 700;
			font-size: 16px;
			line-height: 175%;
			text-align: center;
			@include breakpoint.extra-small-tablet {
				font-size: 13px;
			}
		}

		&.increase {
			color: var(--primary-medium);
			background: var(--primary-lightest);
		}
		&.decrease {
			color: var(--negative-medium);
			background: var(--negative-lightest);
		}
	}

	&__points {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 44px;
		text-align: center;
		color: #303030;
		@include breakpoint.extra-small-tablet {
			font-size: 37px;
		}
	}

	&__summary {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 14px;
		line-height: 143%;
		text-align: center;
		color: #7d7979;
		display: flex;
		align-items: center;
		gap: 5px;
		@include breakpoint.extra-small-tablet {
			font-size: 12px;
		}
	}

	@include breakpoint.post-tablet {
		justify-content: start;
		margin-top: 3%;
		padding: 5%;
	}
	@include breakpoint.extra-small-tablet {
		justify-content: center;
	}
}
