@use '@/shared/scss/mini' as mini;
@use '@/shared/scss/breakpoint' as breakpoint;
.Info {
	&__inner {
		padding-top: 116px;
		height: 100%;

		@include breakpoint.mobile {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 52px;
		}
	}
	&__list {
		flex-wrap: nowrap;
		height: 100%;
		gap: 91px;

		display: flex;
		justify-content: center;
		align-items: start;

		&_item {
			flex-basis: 230px;
			flex-grow: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 7px;

			span {
				font-family: var(--font-family);
				font-weight: 700;
				font-size: 92px;
				color: var(--primary-medium);
				@include breakpoint.pre-middle-tablet {
					font-size: 80px;
				}
				@include breakpoint.pre-mobile {
					font-size: 71px;
				}
				@include breakpoint.mobile {
					font-size: 60px;
				}
			}

			p {
				font-family: var(--font-family);
				font-weight: 400;
				font-size: 16px;
				line-height: 175%;
				text-align: center;
				color: var(--neutral-black);
				@include breakpoint.pre-middle-tablet {
					font-size: 14px;
					line-height: 143%;
				}
				@include breakpoint.mobile {
					font-size: 16px;
				}
			}
		}
		@include breakpoint.small-tablet {
			gap: 40px;
			justify-content: center;
			flex-wrap: wrap;
		}
		@include breakpoint.pre-mobile {
			align-items: end;
			min-height: 10vh;
			gap: 50px;
		}

		@include breakpoint.small-mobile {
			gap: 20px;
		}
	}
}
