.Avatar {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	&:focus {
		outline: 2px solid #007bff;
		outline-offset: 2px;
	}
	&__info {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
	}
	&__role {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 14px;
		line-height: 143%;
		color: var(--neutral-medium);
	}
	&__name {
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 16px;
		line-height: 150%;
		color: var(--neutral-darkest);
	}
}

.Avatar__content {
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f0f0f0;
	&.small {
		width: 32px;
		height: 32px;
	}

	&.medium {
		width: 44px;
		height: 44px;
	}

	&.large {
		width: 64px;
		height: 64px;
	}
}

.Avatar__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.Avatar__fallback {
	font-weight: bold;
	color: #666;
	font-size: 14px;

	.small & {
		font-size: 12px;
	}

	.large & {
		font-size: 18px;
	}
}
