@use './../../../shared/scss/breakpoint' as breakpoint;
.SignInForm {
	border-radius: 28px;
	width: 480px;
	height: 482px;
	background: var(--neutral-white);
	&__inner {
		padding: 40px 48px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 81px;
		padding-top: 0;
		@include breakpoint.mobile {
			padding-right: 20px;
			padding-left: 20px;
		}
		@include breakpoint.small-mobile {
			padding-right: 0px;
			padding-left: 0px;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
		width: 100%;
	}
	&__title {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 24px;
		line-height: 150%;
		text-align: center;
		color: var(--neutral-darkest);
	}

	&__input {
		width: 100%;
		max-width: none;
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 14px;
		line-height: 143%;
		color: var(--neutral-medium);
		&::placeholder {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 14px;
			line-height: 143%;
			color: var(--neutral-medium);
		}
	}

	&__btn {
		width: 100%;
	}

	&__form {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__bottom {
		span {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 14px;
			line-height: 143%;
			text-align: center;
			color: var(--neutral-darkest);
		}

		a {
			font-family: var(--font-family);
			font-weight: 600;
			font-size: 14px;
			line-height: 143%;
			color: var(--primary-medium);
		}
	}
	@include breakpoint.small-mobile {
		background: none;
	}
}
