@use '@/shared/scss/breakpoint' as breakpoint;

.Successes {
	&__title {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 32px;
		text-align: center;
		color: var(--neutral-darkest);
		@include breakpoint.small-tablet {
			font-weight: 700;
			font-size: 32px;
		}
		@include breakpoint.mobile {
			text-align: center;
		}
	}
	@include breakpoint.small-tablet {
		&__container {
			padding: 0 15px;
		}
	}
	&__inner {
		padding-top: 60px;
		width: 100%;
	}

	&__header {
		display: flex;
		justify-content: space-between;

		@include breakpoint.mobile {
			flex-direction: column;
			align-items: center;
		}
	}

	&__body {
		margin-top: 40px;
	}

	&__selector {
		@include breakpoint.mobile {
			display: none;
		}
		&--chart {
			display: none;
			@include breakpoint.mobile {
				display: block;
			}
		}
	}

	&__results {
		display: grid;
		grid-template-columns: repeat(3, auto);
		column-gap: 2%;
		@include breakpoint.pre-middle-tablet {
			grid-template-columns: repeat(2, auto);
		}
		@include breakpoint.middle-mobile {
			grid-template-columns: repeat(1, auto);
		}
	}

	&__footer {
		padding-top: 30px;
	}
}

.chart {
	border-radius: 32px;
	padding: 32px 32px 40px;
	width: 100%;
	height: 357px;
	background-color: var(--neutral-lightest);

	@include breakpoint.small-tablet {
		padding: 3% 1%;
	}
	@include breakpoint.mobile {
		background-color: transparent;
		padding: 3% 0;
	}
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include breakpoint.small-tablet {
			padding: 0 15px;
		}
		@include breakpoint.mobile {
			padding: 0;
		}
	}

	&__body {
		display: flex;
		align-items: end;
		padding-bottom: 40px;
		height: 100%;
		gap: 20px;
		@include breakpoint.small-tablet {
			padding-left: 15px;
		}
		@include breakpoint.mobile {
			padding-left: 0;
			gap: 5px;
			height: 230px;
			padding-bottom: 0;
		}
	}

	&__title {
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 20px;
		line-height: 140%;
		text-align: center;
		color: var(--neutral-darkest);
		@include breakpoint.mobile {
			font-size: 16px;
			line-height: 150%;
		}
	}

	&__navigation {
		display: flex;
		align-items: center;
		gap: 12px;

		@include breakpoint.small-tablet {
			justify-content: space-between;
		}
		@include breakpoint.mobile {
			display: none;
		}
	}

	&__points {
		padding-bottom: 50px;

		&_item {
			margin-top: 32px;
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 14px;
			line-height: 143%;
			text-align: right;
			color: #7d7979;
			text-wrap: nowrap;
			@include breakpoint.small-tablet {
				text-align: left;
			}
			span {
				@include breakpoint.mobile {
					display: none;
				}
			}
			@include breakpoint.mobile {
				font-size: 12px;
				line-height: 167%;
			}
		}
	}

	&__lines {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 20px;
		overflow-y: hidden;
		@include breakpoint.small-tablet {
			overflow-x: scroll;
		}
		@include breakpoint.mobile {
			gap: 15px;
		}
	}
	@include breakpoint.mobile {
		height: 281px;
	}
}
