@use './../../../../../../shared/scss/breakpoint' as breakpoint;
.SchoolDashboard {
	&__result_cards {
		margin-top: 32px;
		display: grid;
		grid-template-columns: repeat(3, auto);
		column-gap: 2%;
		@include breakpoint.pre-middle-tablet {
			grid-template-columns: repeat(2, auto);
		}
		@include breakpoint.middle-mobile {
			grid-template-columns: repeat(1, auto);
		}
	}
}
