@font-face {
	font-family: 'Zona Pro';
	src: url('/assets/fonts/ZonaProRegular.woff2');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Zona Pro';
	src: url('/assets/fonts/ZonaProSemiBold.woff2');
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'Zona Pro';
	src: url('/assets/fonts/ZonaProBold.woff2');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'Zona Pro';
	src: url('/assets/fonts/ZonaProExtraBold.woff2');
	font-style: normal;
	font-weight: 800;
}
@font-face {
	font-family: 'Unbounded';
	src: url('/assets/fonts/UnboundedSemiBold.woff2');
	font-style: normal;
	font-weight: 600;
}
