.AttestationItem {
	border-radius: 24px;
	margin-top: 20px;
	padding: 16px;
	padding-bottom: 25px;
	max-width: 240px;
	width: 100%;
	height: 84px;
	background: var(--neutral-lightest);
	&__top {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
	&__counter {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 14px;
		line-height: 143%;
		color: var(--neutral-darkest);
	}
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: start;
	}
	&__title {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 14px;
		line-height: 143%;
		color: var(--neutral-darkest);
	}
	&__bar {
		height: 30px;
	}
	&.active {
		border: 2px solid var(--neutral-medium);
		background: var(--neutral-white);
		padding: 14px;
	}
}
