.base {
  position: relative;
    display: flex;
    align-items: center;
    border-radius: 16px;
    max-width: 180px;
    height: 45px;
      &.fullWidth {
        width: 100%;
      }
      
      &.error {
        border-color: #e00;
        
        &:focus-within {
          box-shadow: 0 0 0 2px rgba(224, 0, 0, 0.2);
        }
      }
      &.passwordInput {
        padding-right: 10px;
      }
}

.input {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    background-color: transparent;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        display: none;
    }

    padding: 12px 12px 12px 20px;
    border-radius: 16px;
    width: 100%;
    height: 100%;
    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
}

.primary {
    background: var(--neutral-lightest);
    border-radius: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--neutral-darkest);

    &::placeholder {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: var(--neutral-medium);
    }

    &:disabled {
        opacity: 0.5;
    }

    input {
        width: 100%;
        height: 100%;
    }
}

.secondary {
    background: var(--neutral-white);
    border-radius: 16px;
    border: 1px solid var(--neutral-light);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--neutral-darkest);

    &::placeholder {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: var(--neutral-medium);
    }

    &:disabled {
        opacity: 0.5;
    }

    input {
        width: 100%;
        height: 100%;
    }
}
.visibilityButton {
    background: transparent;
    border:none;
    padding: 0;
    cursor: pointer;
    color:var(--neutral-medium);
}
.visibilityButton svg {
  stroke: var(--neutral-medium);
}
// Элементы
.startAdornment,
.endAdornment {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}
.validationMessage {
  position: absolute;
  top: -25px;
  left: 20px;
  color:red;
  font-size: 14px;
}