@use'./../../shared/scss/breakpont'as breakpoint;
@use './../../shared/scss/mini'as mini;

.index {
    min-height: 500px;

    @include mini.image-set-png("/Reviews/bg");

    background-position: right 150px top 10px;
    background-size: 480px 480px;
    background-repeat: no-repeat;


}
.sliderWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 30px;

}
.inner {
    padding-top: 100px;
    padding-bottom: 100px;
}

.reviewsPagination {
    position: initial;
    display: none;

    @include breakpoint.post-tablet {
        display: block;

        .swiper-pagination-bullet {
            background-color: var(--primary-green);
        }
    }
}
.reviewsNavigation {
    display: flex;
    align-items: center;
    gap: 16px;

    @include breakpoint.post-tablet {
        display: none;
    }
}