@use '@/shared/scss/breakpoint' as breakpoint;
@use '@/shared/scss/mini' as mini;

.Header {
	border-bottom: 1px solid var(--neutral-light);
	width: 100%;
	height: 75px;
	&__logo {
		@include breakpoint.middle-tablet {
			margin-right: 0;
		}
	}
	&__nav {
		@include breakpoint.extra-small-tablet {
			display: none;
		}
	}
	&__burger {
		width: 22px;
		height: 22px;
		display: none;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 5px;
		&_line {
			width: 100%;
			height: 2px;
			border-radius: 15px;
			background-color: #000;
			transition: all 0.3s ease-in-out;
		}
		&.active &_line {
			&:first-child {
				opacity: 0;
				visibility: hidden;
			}
			&:nth-child(2) {
				rotate: 48deg;
				translate: 1px 4px;
			}
			&:nth-child(3) {
				rotate: -48deg;
				translate: 1px -4px;
			}
		}
		@include breakpoint.extra-small-tablet {
			display: flex;
		}
	}

	&__right {
		display: flex;
		align-items: center;
		gap: 15px;
	}
	&__container {
		height: 100%;
	}
	&__list {
		display: flex;
		align-items: center;
		gap: 43px;
	}
	&__list_item {
		a {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 16px;
			line-height: 175%;
			color: #202020;

			&:hover {
				color: var(--primary-medium);
			}

			&:focus-visible {
				outline: 2px solid var(--primary-medium);
			}
		}
	}
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}
	&__btn {
		height: 43px;
		padding: 12px 20px;
		border-radius: 20px;
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 16px;
		color: var(--neutral-white);
	}
}
