.AlphabeticalSorterVariant {
	width: 176px;
	height: 74px;
	display: flex;
	align-items: center;
	justify-content: center;
	touch-action: none;

	border-radius: 8px;
	border: 0.5px solid var(--bg-gray-color);
	background-color: var(--neutral-white);

	box-shadow:
		5px 5px 15px 0 #e9ecf4,
		-5px -5px 15px 0 var(--neutral-white);

	font-family: var(--font-family);
	font-weight: 500;
	font-size: 20px;
	line-height: 2.2;
	text-align: center;
	color: #434553;

	cursor: grab;

	&:active {
		cursor: grabbing;
	}

	&--disabled {
		cursor: not-allowed;
		opacity: 0.6;
	}
}
