@use './../../shared/scss/breakpoint'as breakpoint;
@use './../../shared/scss/mini'as mini;

.inner {
    padding-bottom: 100px;
}

.info {
    &_item {
        display: flex;
        align-items: center;
        gap: 12px;

        svg {
            flex-shrink: 0;
            width: 24px;
            height: 24px;
            stroke: currentcolor;
        }

        span {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 175%;
        }
    }
}


.list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 30px;

    @include breakpoint.mobile {
        flex-wrap: nowrap;
        justify-content: start;
        overflow-x: scroll;
        padding-right: 20%;
        padding-left: 15%;
        width: 100%;
        scroll-snap-type: x mandatory;
        gap: 15%;
    }
}