@use '@/shared/scss/breakpoint' as breakpoint;
@use '@/shared/scss/mini' as mini;
.Subscription {
	&__inner {
		padding-bottom: 100px;
		@include breakpoint.mobile {
			padding-bottom: 40px;
		}
	}
	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 50px;
		gap: 30px;

		@include breakpoint.mobile {
			flex-direction: column;
		}
	}
}
