.StatisticLayout {
	width: 100%;
	&__head {
		display: flex;
		align-items: start;
		justify-content: space-between;
	}
	&__title {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 24px;
		line-height: 150%;
		text-align: center;
		color: var(--neutral-darkest);
	}
	&__selector {
		background: transparent;
		.Selector__body {
			left: 0;
		}
	}
	&__inner {
		width: 100%;
	}
}
