.StudentTableItem {
	height: 60px;
	width: 100%;
	padding: 0 12px;
	position: relative;
	&__id,
	&__number,
	&__module,
	&__learningTime,
	&__mistakes,
	&__date,
	&__studentName,
	&__subjectName {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 14px;
		line-height: 143%;
		color: var(--neutral-darkest);
	}
	&__points {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 14px;
		line-height: 143%;
		color: var(--neutral-darkest);
	}
	td {
		text-align: start;
		div {
			display: flex;
			justify-content: start;
		}
	}
	&__btn_more {
		&.active {
			svg {
				transform: rotate(180deg);
				transition: transform 0.15s ease-in-out;
			}
		}
	}
}
.AttestationTable {
	position: absolute;
	z-index: 11;
	top: 60px;
	left: 0;
	border-radius: 20px;
	padding: 16px 32px 20px;
	width: 1008px;
	height: 408px;
	background: var(--neutral-lightest);
}

.attestationResults {
	width: 100%;
	&__wrapper {
		border-radius: 20px;
		padding: 16px 32px 0px;
		width: 100%;
		min-height: 408px;
		background: var(--neutral-lightest);
		&--noData {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 116px;
			min-height: 116px;
			span {
				font-family: var(--font-family);
				font-weight: 400;
				font-size: 14px;
				line-height: 143%;
				color: var(--neutral-medium);
			}
		}
	}
	&__head {
		&_th {
			text-align: left;
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 12px;
			line-height: 167%;
			color: var(--neutral-medium);
			&--points {
				text-align: right;
			}
		}
	}
	&__tr {
		width: 100%;
		height: 36px;
		&-task,
		&-time,
		&-mistakes,
		&-points {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 14px;
			line-height: 143%;
			color: var(--neutral-darkest);
		}
		&-points {
			font-weight: 700;
			text-align: right;
		}
	}
	&__container {
		height: 330px;
		overflow-x: hidden;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background: #7d7979;
			border-radius: 2px;

			&:hover {
				background: #5a5757;
			}
		}

		scrollbar-width: thin;
		scrollbar-color: #7d7979 transparent;
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-top: 1px solid var(--neutral-light);
		padding-top: 16px;
		padding-bottom: 20px;
	}
	&__controls {
		button {
			padding: 11px 15px;
		}
	}
	&__status {
		&_wrapper {
			display: flex;
			flex-direction: column;
			align-items: start;
			gap: 5px;
		}
		&_text {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 14px;
			line-height: 143%;
			&--notCompleted {
				color: var(--neutral-medium);
			}
			&--rejected {
				color: var(--negative-medium);
			}
			&--accepted {
				color: var(--primary-medium);
			}
		}
	}
}
.AttestationResultsHeader {
	border-bottom: 1px solid var(--neutral-light);
	padding-bottom: 16px;
	margin-bottom: 16px;
	&__inner {
		display: flex;
		align-items: start;
		justify-content: space-between;
	}
	&__col {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: start;
		gap: 10px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: start;
		&_title {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 12px;
			line-height: 167%;
			color: var(--neutral-medium);
		}
		&_content {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 14px;
			line-height: 143%;
			color: var(--neutral-darkest);
		}
	}
}
