.MissingLetter {
	display: inline-flex;
	align-items: center;
	gap: 4px;

	&__input {
		-webkit-appearance: none;
		appearance: none;
		border: none;
		border-radius: 0;
		background-color: transparent;

		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration {
			display: none;
		}
		width: 30px;
		height: 30px;
		border-radius: 12px;
		background-color: var(--neutral-lightest);
		&:focus-visible {
			outline: 1px solid #000;
		}
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 20px;
		line-height: 160%;
		color: var(--neutral-darkest);
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}
