.Input {
    max-width: 500px;
}

.index {
    height: 100vh;
    background: var(--neutral-lightest);
}

.inner {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.signIn {
    background-image: url('/signin.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}