.single-select-quiz {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__subtitle {
		font-weight: 600;
		font-size: 30px;
		line-height: 140%;
		text-align: center;
		color: var(--text-color);
		margin: 0;
	}

	&__container {
		max-width: 600px;
		width: 100%;
		margin-top: 24px; // mt-6
	}

	&__list {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 12px; // gap-3
		padding: 0;
		margin: 0;
	}
}
