.index {
	border-radius: 32px;
	padding: 24px 20px;
	width: 280px;
	min-height: 700px;
	background: var(--neutral-white);
}
.title {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 20px;
	line-height: 140%;
	color: var(--neutral-darkest);
}
.list {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.inner {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 20px;
}
.showBtn {
	margin: 20px 0;
}
.bottom {
	width: 100%;
	border-top: 1px solid var(--neutral-light);
}
