.LearningSidebar {
	border-radius: 32px;
	padding: 24px 20px;
	width: 280px;
	min-height: 700px;
	background: var(--neutral-white);
	display: flex;
	&__title {
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 20px;
		line-height: 140%;
		color: var(--neutral-darkest);
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: start;
		gap: 20px;
	}
	&__showBtn {
		margin: 20px 0;
	}
	&__content {
		margin-top: 20px;
	}
	&__bottom {
		width: 100%;
		border-top: 1px solid var(--neutral-light);
		margin-top: auto;
		padding-top: 30px;
	}
}
