@use './../../../shared/scss/breakpoint';
.Table {
	width: 100%;
	&__scroll-container {
		max-height: 100%;
		overflow-y: auto;
		// max-width: 1000px;
		width: 100%;
		scrollbar-width: thin;
	}
	&__tr {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 12px;
		line-height: 167%;
		color: var(--neutral-medium);
	}
	&__th {
		text-align: start;
		.cursor-pointer {
			cursor: pointer;
			display: flex;
			align-items: center;
			gap: 8px;
			padding: 8px 12px;
			border-radius: 12px;
			transition: background-color 0.2s ease-in-out;
			&:hover {
				background-color: #f5f5f5;
			}
		}

		.select-none {
			user-select: none;
		}
	}
	tbody {
		overflow-y: auto;
		max-height: 500px;
	}
}
.TableItem {
	position: relative;
	height: 60px;
	cursor: pointer;
	width: 80%;
	&__place {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: 32px;
		height: 32px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		@include breakpoint.mobile {
			width: 29px;
			height: 29px;
		}

		&_first {
			color: var(--neutral-white);
			background-image: url('/svg/first.svg');
		}

		&_second {
			color: var(--neutral-white);
			background-image: url('/svg/second.svg');
		}

		&_third {
			color: var(--neutral-white);
			background-image: url('/svg/third.svg');
		}

		&_other {
			span {
				color: var(--black-color);
			}
		}
		span {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 14px;
			line-height: 143%;
		}
	}
	&__name {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 14px;
		line-height: 143%;
		color: var(--neutral-darkest);
		@include breakpoint.mobile {
			font-size: 16px;
		}
	}
	td {
		padding: 8px 12px;
	}
}
.TableItem__date,
.TableItem__modules,
.TableItem__time,
.TableItem__class,
.TableItem__name,
.TableItem__points,
.TableItem__subject,
.TableItem__classes,
.TableItem__studentsCount,
.TableItem__schoolName {
	border: none;
	margin: 0;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 143%;
	color: var(--neutral-darkest);

	@include breakpoint.mobile {
		font-size: 16px;
	}
}
.TableItem__points {
	font-weight: 700;
}
.TableItem.TableItem--myStudent {
	.TableItem__done,
	.TableItem__time,
	.TableItem__name,
	.TableItem__class,
	.TableItem__parralelClass {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 14px;
		line-height: 143%;
		color: var(--neutral-darkest);
	}
}
