@use './../../../shared/scss/breakpoint' as breakpoint;

.tableItem {
	position: relative;
	height: 80px;
	cursor: pointer;
	width: 80%;
	&__place {
		div {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			width: 32px;
			height: 32px;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;

			@include breakpoint.mobile {
				width: 29px;
				height: 29px;
			}

			span {
				font-family: var(--second-family);
				font-weight: 600;
				font-size: 16px;
				line-height: 150%;
				text-align: center;
			}
		}
		&_first {
			color: var(--neutral-white);
			background-image: url('/svg/first.svg');
		}

		&_second {
			color: var(--neutral-white);
			background-image: url('/svg/second.svg');
		}

		&_third {
			color: var(--neutral-white);
			background-image: url('/svg/third.svg');
		}

		&_other {
			span {
				color: var(--black-color);
			}
		}
	}
	&__name {
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 20px;
		line-height: 140%;
		color: var(--neutral-darkest);
		@include breakpoint.mobile {
			font-size: 16px;
		}
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 100;
		width: 100%;
		height: 1px;
		background-color: var(--neutral-light);
	}
}

.tableItem__points,
.tableItem__done,
.tableItem__time,
.tableItem__parallelClass {
	border: none;
	margin: 0;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 20px;
	line-height: 160%;
	color: var(--neutral-darkest);

	@include breakpoint.mobile {
		font-size: 16px;
	}
}

.tableItem__points {
	color: var(--primary-medium);
}
