.Breadcrumbs {
    display: flex;
    align-items: center;
    gap: 20px;
}

.BreadcrumbsItem {
    position: relative;
    padding: 12px 28px;
    border: 1px solid var(--neutral-light);
    border-radius: 32px;

    a {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        color: var(--neutral-darkest);
    }
}
.BreadcrumbsItem:not(:last-child) {
    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 6px;
        height: 12px;
        right: -15px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("./../../../../public/arrow.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    
   }
}