.BreadcrumbsList {
    display: flex;
    align-items: center;
    gap: 20px;
}

.BreadcrumbsItem {
    position: relative;
    padding: 12px 28px;
    border: 1px solid var(--neutral-light);
    border-radius: 32px;

}
// .BreadcrumbsItem:not(:last-child) {
//     &::after {
//         content: "";
//         position: absolute;
//         display: block;
//         width: 6px;
//         height: 12px;
//         right: -15px;
//         top: 50%;
//         transform: translateY(-50%);
//         background-image: url("./../../../../public/arrow.svg");
//         background-position: center;
//         background-size: cover;
//         background-repeat: no-repeat;

    
//    }
// }
.BreadcrumbsSeparator {
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
        color: var(--neutral-medium);
         display: flex;
  align-items: center;

}
.BreadcrumbsContainer {
  padding: 12px 0;
}




.BreadcrumbsLink {
  color: var(--text-secondary);
  text-decoration: none;
  transition: color 0.2s;
   font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        color: var(--neutral-darkest);
  
  &:hover {
    color: var(--text-primary);
    text-decoration: underline;
  }
}
.BreadcrumbsText {
      color: var(--text-secondary);
       font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        color: var(--neutral-darkest);
}
