.AttestationsTable {
	width: 100%;
	&__scroll-container {
		max-height: 100%;
		overflow-y: auto;
		// max-width: 1000px;
		width: 100%;
		scrollbar-width: thin;
	}
	&__tr {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 12px;
		line-height: 167%;
		color: var(--neutral-medium);
	}
	&__th {
		text-align: start;
		.cursor-pointer {
			cursor: pointer;
			display: flex;
			align-items: center;
			gap: 8px;
			padding: 8px 12px;
			border-radius: 12px;
			transition: background-color 0.2s ease-in-out;
			&:hover {
				background-color: #f5f5f5;
			}
		}

		.select-none {
			user-select: none;
		}
	}
	tbody {
		overflow-y: auto;
		max-height: 500px;
	}
}
