@use '@/shared/scss/breakpoint' as breakpoint;
.Tabs {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 40px;
	border-radius: 28px;
	width: 344px;
	height: 52px;
	background-color: var(--neutral-lightest);
	&.maxWidth {
		width: 100%;
	}
	@include breakpoint.mobile {
		max-width: 328px;
		width: 100%;
		height: 44px;
	}
}

.tab {
	// border-radius: 28px;
	flex-basis: 100%;
	flex-grow: 1;
	padding: 12px 0;
	width: 100%;
	height: 100%;
	text-align: center;
	cursor: pointer;
	border: none;
	background: transparent;
	span {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 16px;
		line-height: 175%;
		@include breakpoint.mobile {
			font-size: 14px;
			line-height: 143%;
		}
	}

	&.active {
		span {
			color: var(--neutral-white);
		}

		border-radius: 28px;
		background-color: var(--neutral-darkest);
	}
	@include breakpoint.mobile {
		padding: 0;
	}
}
