.index {
	width: 904px;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 30px;
	&__quiz_wrapper {
		margin-top: 32px;
		border-radius: 32px;
		padding: 32px;
		width: 904px;

		background: var(--neutral-white);
	}
}
