@use '@/shared/scss/breakpoint' as breakpoint;
.LearningAttestation {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 30px;
	&__quiz_wrapper {
		margin-top: 32px;
		border-radius: 32px;
		padding: 32px;

		background: var(--neutral-white);
	}

	@include breakpoint.mobile {
		gap: 0;
	}
}
