@use '@/shared/scss/breakpoint' as breakpoint;
.inner {
	padding-top: 1.7%;
}
.learningTitle {
	text-align: left;
}
.mainInner {
	display: flex;
	align-items: start;
	gap: 30px;
	@include breakpoint.pre-middle-tablet {
		gap: 10px;
	}
	@include breakpoint.mobile {
		gap: 0;
	}
}
.attestationResult {
	background: var(--neutral-lightest);
	display: flex;
	justify-content: center;
}
.mainWrapper {
	background: var(--neutral-lightest);
	@include breakpoint.mobile {
		background: transparent;
	}
}
.wrapper {
	display: flex;
	justify-content: start;
	flex-direction: column;
	gap: 32px;
	padding-bottom: 80px;
}
.title {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 44px;
	text-align: left;
	color: var(--neutral-darkest);
}
.LearningSidebarMain {
	@include breakpoint.small-tablet {
		display: none;
	}
}
.LearningLayout__mainInner {
	@include breakpoint.small-tablet {
		flex-direction: column;
		align-items: start;
	}
}
