@use './../../shared/scss/breakpoint' as breakpoint;

.Continue {
	&__subjects {
		padding-top: 50px;
	}

	&__inner {
		padding-top: 126px;
		padding-bottom: 30px;
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	&__link {
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 14px;
		line-height: 143%;
		text-align: center;
		color: var(--primary-medium);
	}
}
