.SignInContent {
	height: 100vh;
	&__inner {
		padding: 40px;
		display: flex;

		max-width: 1440px;
		margin: 0 auto;
	}
	&__image {
		height: 100%;
		position: absolute;
		top: 75px;
		right: -50px;
		&_col {
			height: 100%;
		}
		&_tint {
			max-width: 497px;
			width: 497px;
			height: 800px;
			background: var(--neutral-lightest);
			border-radius: 40px;
		}
		&_wrapper {
			height: 100%;
			position: relative;
		}
	}
	&__form_col {
		padding-top: 176px;
		margin-left: 233px;
	}
}
