@use '@/shared/scss/breakpoint' as breakpoint;

.Learn {
	min-height: 490px;
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 140px;
		padding-bottom: 80px;
		gap: 40px;
		@include breakpoint.mobile {
			padding-top: 64px;
			padding-bottom: 30px;
		}
	}
	&__items {
		padding: 0 2%;
		width: 100%;
	}
	&__list {
		display: grid;
		grid-auto-rows: 100px;
		grid-template-columns: 33% 33% 33%;
		gap: 5% 2%;

		@include breakpoint.middle-tablet {
			justify-content: center;
			grid-template-columns: 50% 50%;
			row-gap: 20px;
		}

		@include breakpoint.pre-mobile {
			// grid-template-columns: 100%;
			row-gap: 10px;
		}
		@include breakpoint.mobile {
			grid-template-columns: 100%;
			row-gap: 10px;
			justify-items: center;
		}
	}
	&__item {
		width: 100%;

		@include breakpoint.middle-tablet {
			grid-column: span 1;
		}
		@include breakpoint.mobile {
			max-width: none;
		}
	}
}

.Learn__item:last-child {
	grid-column: 3 span;
	max-width: none;
	@include breakpoint.middle-tablet {
		grid-column: 2 span;
	}

	@include breakpoint.mobile {
		grid-column: auto;
	}
}
