.SelectBox {
	border-radius: 16px;
	padding: 12px 20px;
	height: 48px;
	background: var(--neutral-lightest);
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	color: var(--neutral-darkest);
	cursor: pointer;
	&.selected {
		border: 2px solid var(--primary-medium);
		background: var(--primary-lightest);
	}
}
