@use './../../scss/breakpoint'as breakpoint;

.selector {
    position: relative;
    background-color: var(--neutral-white);
    border: 1px solid #303030;
    border-radius: 24px;
    width: 168px;
    min-height: 44px;
    max-height: 44px;
    background: var(--neutral-white);
    transition: all 1.5s ease;

    @include breakpoint.mobile {
        min-height: 30px;
        max-height: 30px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 15px;

        span {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 14px;
            line-height: 143%;
            color: #303030;
        }

        @include breakpoint.mobile {
            padding: 7px 15px;
        }
    }

    &__btn {
        svg {
            transition: all 1s ease;
        }
    }

    &__list {
        width: 100%;
        height: 100%;

        &_item {
            cursor: pointer;
            height: 44px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 0 14px;

            span {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                line-height: 143%;
                color: var(--neutral-darkest);
            }

            &:hover {
                background-color: var(--neutral-light);
            }
        }
    }

    &__body {
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: 120%;
        transform: translateX(-50%);
        z-index: 10;
        display: flex;
        align-items: start;
        justify-content: start;
        width: 143px;
        max-height: 0;
        background-color: var(--neutral-white);
        box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.1);
        border-radius: 24px;
        transition: all 0.3s ease-in-out;

        &_inner {
            width: 100%;
            max-height: 156px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-track {
                width: 100%;
                background: var(--neutral-lightest);
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 2px;
                width: 100%;
                background: var(--neutral-medium);
            }
        }
    }

    &.active {

        .selector__body {
            max-height: 156px;
            transition: all 0.3s ease-in-out;
        }

        .selector__btn svg {
            transform: rotate(180deg);
        }
    }


}