@use './../../scss/breakpoint'as breakpoint;

.selector {
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 0;
    background-color: var(--neutral-white);
    overflow: hidden;
    border: 1px solid #303030;
    border-radius: 24px;
    width: 168px;
    min-height: 44px;
    max-height: 44px;
    background: var(--neutral-white);
    transition: all 1.5s ease;

    @include breakpoint.mobile {
        min-height: 30px;
        max-height: 30px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 15px;

        span {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 14px;
            line-height: 143%;
            color: #303030;
        }

        @include breakpoint.mobile {
            padding: 7px 15px;
        }
    }

    &__btn {
        svg {
            transition: all 1s ease;
        }
    }

    &__body {
        display: flex;
        align-items: start;
        justify-content: start;
        border-top: 1px solid #303030;
        padding: 12px 15px;
        width: 100%;
        background-color: var(--neutral-white);
    }

    &.active {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        max-height: 150px;
        transition: all 1.5s ease;

        .selector__body {
            border-top: 1px solid #303030;
            border-radius: 0 0 24px 24px;
            padding: 12px 15px;

        }

        .selector__btn svg {
            transform: rotate(180deg);
        }
    }


}