@use './../../scss/breakpoint' as breakpoint;

.Selector {
	position: relative;
	background-color: var(--neutral-white);
	border: 1px solid #303030;
	border-radius: 24px;
	width: 168px;
	min-height: 44px;
	max-height: 44px;
	transition: all 1.5s ease;

	@include breakpoint.mobile {
		min-height: 32px;
		max-height: 32px;
		width: 95px;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 12px 15px;

		span {
			font-family: var(--font-family);
			font-weight: 700;
			font-size: 14px;
			line-height: 143%;
			color: #303030;
			@include breakpoint.mobile {
				font-size: 12px;
				line-height: 167%;
				font-weight: 400;
			}
		}

		@include breakpoint.mobile {
			padding: 4px 8px 4px 8px;
			width: 100%;
			height: 100%;
		}
	}

	&__list {
		width: 100%;
		height: 100%;

		&_item {
			cursor: pointer;
			height: 44px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: start;
			padding: 12px 16px;
			border-radius: 16px;
			span {
				font-family: var(--font-family);
				font-weight: 400;
				font-size: 14px;
				line-height: 143%;
				color: var(--neutral-darkest);
			}

			&:hover {
				background-color: var(--neutral-lightest);
			}

			&.selected {
				background-color: var(--neutral-lightest);
				span {
					font-weight: 700;
				}
			}
		}
	}

	&__body {
		overflow: hidden;
		position: absolute;
		left: 50%;
		top: 120%;
		transform: translateX(-50%);
		z-index: 10;
		display: flex;
		align-items: start;
		justify-content: start;
		// width: 123px;
		min-width: max-content;
		background-color: var(--neutral-white);
		box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.1);
		border-radius: 24px;

		&_inner {
			width: 100%;
			max-height: 156px;
			overflow-y: scroll;
			padding: 8px;
			&::-webkit-scrollbar {
				width: 4px;
			}

			&::-webkit-scrollbar-track {
				width: 100%;
				background: var(--neutral-lightest);
				margin: 16px 0;
				cursor: pointer;
			}

			&::-webkit-scrollbar-thumb {
				border-radius: 2px;
				width: 100%;
				background: var(--neutral-medium);
			}
		}
		@include breakpoint.mobile {
			width: 123px;
		}
	}
	&.mini {
		width: 96px;
		min-height: 32px;
		max-height: 32px;
		.Selector__header {
			span {
				font-family: var(--font-family);
				font-weight: 400;
				font-size: 12px;
				line-height: 167%;
				color: var(--neutral-darkest);
			}
			padding: 4px 8px;
		}
		.Selector__body {
			width: 100px;
		}
		.Selector__list_item span {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 12px;
			line-height: 167%;
			color: var(--neutral-darkest);
		}
	}
}
