.DropPocket {
	width: 230px;
	flex-shrink: 0;
	height: 300px; // Увеличил высоту, чтобы влез и предмет, и карман
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	transition: transform 0.3s ease;
	&__content {
		width: 100%;
		height: 237px;
		background-image: url('/images/Engine/pocket.png');
		background-size: contain;
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: end;
		padding-bottom: 30px;

		position: relative;
		z-index: 2; // Карман перекрывает предмет
		pointer-events: none; //
	}
	&__item {
		position: relative;
		z-index: 1;
		margin-bottom: -25px;

		// transition: transform 0.3s ease;

		border: 0.5px solid var(--bg-gray-color);
		border-radius: 8px;
		width: 161px;
		height: 74px;
		box-shadow:
			5px 5px 15px 0 #e9ecf4,
			-5px -5px 15px 0 var(--neutral-white);
		background: var(--neutral-white);
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 20px;
		line-height: 220%;
		text-align: center;
		color: #434553;
		// rotate: -13deg;
		button {
			background: var(--bg-gray-color);
			border: none;
			cursor: pointer;
			width: 42px;
			border-radius: 100%;
			height: 42px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: -20%;
			right: -10%;
		}
	}
	&--over {
		transform: scale(1.05);
	}
}
