.DragWordToPocket {
	&__variants {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}
}
.DragWordToPocketVariant {
	border: 0.5px solid var(--bg-gray-color);
	border-radius: 8px;
	width: 161px;
	height: 74px;
	box-shadow:
		5px 5px 15px 0 #e9ecf4,
		-5px -5px 15px 0 var(--neutral-white);
	background: var(--neutral-white);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: grab;
	user-select: none;
	&__btn {
		width: 42px;
		height: 42px;
		border-radius: 100%;
		background-color: var(--primary-medium);
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: -60%;
		left: 50%;
		transform: translate(-50%, 50%);
		border: none;
		cursor: pointer;
	}
	span {
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 20px;
		line-height: 220%;
		text-align: center;
		color: #434553;
	}
}
