.CommonView {
    width: 100%;
    &__statBlocks{
        display: flex;
        align-items: start;
        gap:30px;
        &--department {
            .StatisticsBlock {
                flex-grow:0;
                flex-basis: 50%;
            }
        }
    }
    &__cards {
        &--department {
            padding-top: 30px;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            .ResultsCard {
                flex-basis: 30%;
            }
        }
    }
    &__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
}
